@page "/"
@model EnteranceModel
@{
}


<link rel="stylesheet" href="~/css/Front.css">
<script src="~/js/theFront.js" defer></script>

 <body>

 <div class="container-fluid">

    <div class="row d-flex justify-content-center">
        

   <div class="col-6 bg-su no-gutter">

               
               <img id="ThisIsTheLogoHere" src="~/Pics/ngcLogo.png" onclick="RedirectUserToLoadingPage()"> 
    </div>

        </div> 

 </div>


 </body>




