@page "/Selections"
@model ngTV.Pages.SelectionsModel
@{
}

<link rel="stylesheet" href="~/css/Selections.css" /> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script src="~/js/theSelections.js"></script>



<h1>This Will Be The Selection Page</h1>


<div class="container-fluid d-flex ">  <!-- Start of Container -->
    <div class="row">
        <div class="col d-flex flex-row"> 
             <div id="First" class="ThisIsACarouselItem"><img class="img" src="~/Pics/CarouselPics/Butterfly.jpg"></div>
            <div id="Second" class="ThisIsACarouselItem"><img class="img" src="~/Pics/CarouselPics/Mantis.jpg"></div>
            <div id="Third" class="ThisIsACarouselItem"><img class="img" src="~/Pics/CarouselPics/RinocerousBeatle.jpg" /></div>
            <div id="Fourth" class="ThisIsACarouselItem"> </div>
            <div id="Fifth" class="ThisIsACarouselItem"></div>
        </div>
    </div>


    <div class="row">

        <div class="col">

            <div class="box">
                
                <div class="MI">

                   <p id="ThisMoves">hello world </p>

                </div>

            </div>

        </div>


    </div>


</div>




